<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Hades Quest</title>
  <meta charset="utf-8">

  <!-- link to google fonts  -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Caesar+Dressing&display=swap" rel="stylesheet">


  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/styles.css">

</head>


<body>


  <nav class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
        <p class="navbar-brand">
          <a href="/">
            HADES QUEST
          </a>
        </p>
      </div>
      <ul class="nav navbar-nav navbar-right">
        <li id="about"><a href="/about">KNOW ABOUT THE GAME</a></li>

      </ul>
    </div>
  </nav>

  <div class="container" id="gameInfo">
    <h4 id="infoHeading">Welcome to Hades Quest !</h4>
    <p>Hades Quest is like a to-do list game inspired by the video game "Hades." It's based on ancient Greek stories,
      and in our version, you follow the adventures of a hero named Zagreus. He's trying to leave the Underworld, and he
      needs help from three gods: Ares, Aphrodite, and Athena.

    <p> Each god is in charge of different types of tasks - Ares helps with fitness, Aphrodite with self-care, and
      Athena with school or work stuff. <br>

    <p>
      When you finish tasks from these gods, you'll see a progress bar go up, and the level will go up too. But there's
      a catch: your level only goes up when you finish tasks from all three gods. <br>
    </p>
    <p>
      It's like going on a big journey, just like Zagreus's adventure, and each task you finish brings you closer to
      your goal. "Hades Quest" is your chance to tackle your to-do list, just like a hero in a
      story. Your quest begins now! <br>
    </p>

    <p>SCROLL DOWN TO KNOW MORE ABOUT THE GODS ! <br>
      <img src="/img/down-arrow.png" id="downArrow">
    </p>

  </div>


  </p>
  <!-- athena image -->
  <section id="first"></section>
  <!-- ares image -->
  <section id="second"></section>
  <!-- aphrodite image -->
  <section id="third"></section>






</html>
