<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Daily Journal</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/styles.css">
  <nav class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
        <p class="navbar-brand">HADES QUEST</p>
      </div>
        <ul class="nav navbar-nav navbar-right">
          <!-- 6 -->
         
          <li id="about"><a href="/about">KNOW THE GODS</a></li>
         
        </ul>
    </div>
  </nav>
  <div class="container-fluid" style="background-color: antiquewhite; padding: 0;">
    <div class="sections-container">
        <progress id="progressBar" value="<%= barValue %>" max="100"></progress>
        <progress id="progressBar2" value="<%= barValue2 %>" max="100"></progress>
        <progress id="progressBar3" value="<%= barValue3 %>" max="100"></progress>
        <div>
            <h1>
                <%= levelDisplay %>
            </h1>
        </div>
    </div>

</div>
  <body>
  
    
