<%- include("partials/header") -%>


<style>
  body{
  background-image: url("/images/athenahd.webp");
  background-size: cover;
  
  }
</style>
    <section id="gods-content-container">
        
      <!-- <div class="container-fluid">
        <div class="row">
            <div class="col-lg-4">
              <div class="card">
                <img src="/images/athena.jpg" height="300px" width="350px"/>
                <div class="card-body">
                  <h5 class="card-title">Athena</h5>
                </div>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="card">
                <img src="/images/maxresdefault.jpg" class="card-img-top" alt="..."  height="300px" width="350px" />
                <div class="card-body">
                  <h5 class="card-title">Ares</h5>
                </div>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="card">
                <img src="/images/Hades-Aphrodite.jpg" class="card-img-top" alt="..."  height="300px" width="350px"/>
                <div class="card-body">
                  <h5 class="card-title">Aphrodite </h5>
                </div>
              </div>
            </div>
        </div> -->

      </div>

    
     
      </section>
</body>
</html>