<%- include("partials/header") -%>


<div class="container-fluid" id="list-section">
    <div class="row">
        <div class="col-lg-4">
            <div class="card">
                <ul>
                    <li>slay the mythical beast</li>
                    <div>
                       <% tasks.forEach(function(task) { %>
                            <form action="/increaseProgressAndDelete" method="post" >
                            <li id="task">
                                <input type="checkbox" name="checkbox" value="<%=task._id%>" onChange="this.form.submit()">
                                <%= task.name %>
                               
                                                                 
                                    </form>
                            </li>
                            <% } )%>
                    </div>
                </ul>
                <div class="add-task">
                    <form action="/" method="post">
                        <input type="text" placeholder="newItem" name="newItem">
                        <button type="text">+</button>
                    </form>
                </div>
            </div>
        </div>
 
        </div>
    
    </div>
</div>

      


   
       
    
   
    

        <%- include("partials/footer") -%>