<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <section id="logged-out-view">
        <div class="container">
            <h1>Hades Quest</h1>
  
          <div class="provider-buttons">
            <button id="sign-in-with-google-btn" class="provider-btn">
              <img src="/assets/google.png" class="google-btn-logo" height="30px" />
              Sign in with Google
            </button>
          </div>
  
    
        </div>
      </section>
</body>
</html>