body {
  background-image: url(/img/background.webp) !important;
  background-size: cover;

  
}

.navbar {
  background-image: url(/img/background.webp) !important;

  padding: 0;
  border: 0;
  border-radius: 0;
  margin-bottom: 0;
  font-size: 12px;
  letter-spacing: 3px;
  font-family: "Caesar Dressing", cursive;
}

.navbar li a {
  margin: 10px 45px 0 0;
  font-size: 16px;
  color: #fff !important;
}

.navbar-brand {
  font-size: 30px;
  margin: 10px 0px 5px 20px !important;
  color: #fff !important;
}

.navbar-brand a {
  text-decoration: none;
  color: #fff !important;
}

.navbar-nav li a:hover {
  color: #770b09 !important;
}

.container {
  width: 100%;
}

.container-fluid {
  padding-top: 55px;
  padding-bottom: 100px;
}

/* level indicator */
#level {
  margin: 5px 5px 5px 15px;
  padding-top: 2px;
  font-family: "Caesar Dressing", cursive;
  display: flex;
}

/* Hero Image*/
.image {
  position: absolute;
  width: 150px;
  height: 150px;
  top: 100px;
  left: 35px;
  object-fit: cover;
}

/* box that contains progress bars*/
.rectangle-3 {
  position: absolute;
  width: 235px;
  height: 150px;
  top: 100px;
  left: 190px;
  background-color: #000000e0;
  color: #fff;
}

/* progress bars */

progress {
  display: flex;
  width: 180px;
  height: 17px;
  text-align: center;
  margin: 15px;
  border: none;
  background-color: #fff;
}

#fitnessBar {
  display: inline;
}

#academicsBar {
  display: inline;
}

#selfcareBar {
  display: inline;
}

#fitnessBar > progress::-moz-progress-bar {
  background: #c81d1d;
}

#academicsBar > progress::-moz-progress-bar {
  background: #404881;
}

#selfcareBar > progress::-moz-progress-bar {
  background: #f16aa5;
}

/* progress bar icons */
.athenaLogo {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 46px;
  left: 201px;
}

.aresLogo {
  position: absolute;
  width: 35px;
  height: 35px;
  top: 73px;
  left: 195px;
}

.aphroditeLogo {
  position: absolute;
  width: 20px;
  height: 18px;
  top: 112px;
  left: 200px;
}

/* todolist box*/
.card {
  width: 360px;
  max-height: 500px;
  background-color: #040303;
  list-style-type: none;
  text-transform: lowercase;
  margin: 22px;
}

.card li {
  padding: 5px 4px 3px 15px;
  margin: 5px;
  font-family: "Caesar Dressing", cursive;
  color: #fff;
  font-size: 18px;
}

/* list icons */

.list-icon-holder {
  min-height: 53px;
}

.list-athena-logo {
  width: 50px;
  height: 40px;
  margin: 2px;
  padding: 4px 4px 0px 5px;
}

.list-ares-logo {
  width: 52px;
  height: 52px;

  margin: 2px 2px 0px 5px;
}

.list-aphrodite-logo {
  width: 37px;
  height: 33px;
  margin: 5px 3px 0px 5px;
  padding-top: 2px;
}

.add-task {
  display: flex;
}

input[type="text"] {
  text-align: center;
  height: 30px;
  top: 10px;
  border: 1px solid #fff;
  background: transparent;
  font-family: "Caesar Dressing", cursive;
  color: #fff;
  margin: 7px 7px 15px 15px;
  width: 190px;
}

button[type="text"] {
  height: 31px;
  width: 30px;
  border-radius: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: #000;
  color: #fff;
  border: 1px solid #fff;
}

/* about page */

#gameInfo {
  margin: 15px;
  padding: 10px;
  background-color: #0000004e;
  height: 100vh;
}

#gameInfo p {
  color: #fff;
  font-family: "Caesar Dressing", cursive;
  letter-spacing: 2px;
  line-height: 20px;
  padding: 10px 30px;
}

#infoHeading {
  font-size: 17px;
  font-family: "Caesar Dressing", cursive;
  color: #fff;
  margin: 30px 0px 10px 30px;
}

#downArrow {
  position: absolute;
  margin: 15px 0 0 0px;
}

#first {
  background: url("../img/athena.webp") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100vw;
  height: 200vh;
  color: #ffeacf;
  display: flex;
}

#second {
  background: url("../img/ares.webp") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100vw;
  height: 200vh;
  color: #ffeacf;
  display: flex;
}

#third {
  background: url("../img/aphro.webp") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100vw;
  height: 200vh;
  color: #ffeacf;
  display: flex;
}
